<div class="container">
    <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="preencha o nome do cliente" required [(ngModel)]="model.name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="preencha o e-mail do cliente" required [(ngModel)]="model.email" type="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width no-margin-right" col-50>
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="preencha o telefone do cliente" required [(ngModel)]="model.phone">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" col-50 *ngIf="!model.uid">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="informe sua nova senha" required [(ngModel)]="model.password" type="password">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width no-margin-right" col-50 *ngIf="!model.uid">
        <mat-label>Confirmação de Senha</mat-label>
        <input matInput placeholder="digitenovamente a senha informada acima" required [(ngModel)]="model.confirmPassword" type="password">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Opções</mat-label>
        <textarea matInput placeholder="Descreva a descrição" rows="4" [(ngModel)]="model.description"></textarea>
    </mat-form-field>
    <div class="title-divider">
        Endereço
    </div>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="CEP" [(ngModel)]="model.zipCode">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput placeholder="preencha o seu endereço" [(ngModel)]="model.address">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="preencha o seu endereço" [(ngModel)]="model.addressComplement">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="model.state" (selectionChange)="bindCities(model.state)">
            <mat-option *ngFor="let state of states" [value]="state.sigla">
                {{ state.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width no-margin-right" col-50>
        <mat-label>Cidade</mat-label>
        <mat-select [(ngModel)]="model.city" [disabled]="!model.state">
            <mat-option *ngFor="let citie of cities" [value]="citie">
                {{ citie }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="title-divider">
        Configurações de atendimento
    </div>
    <div class="container-configurantion">
        <div class="card">
            <h4>Cidades Atendidas</h4>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cidade</mat-label>
                <mat-select [disabled]="!model.state" (selectionChange)="selectCitiesCare($event.value)">
                    <mat-option *ngFor="let citie of cities" [value]="citie">
                        {{ citie }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-list>
                <mat-list-item *ngFor="let citie of citiesCare; let i = index">
                    <p mat-line>{{ citie }}</p>
                    <button mat-button (click)="removeCitiesCare(i)">
                        <mat-icon class="mat-24">delete</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="citiesCare.length === 0">
                    Nenhuma cidade atendida
                </mat-list-item>
            </mat-list>
        </div>
        <div class="card">
            <h4>SubCategoria Atendidas</h4>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Categoria</mat-label>
                <mat-select [(ngModel)]="categorySelect" (selectionChange)="bindSubCategorys(categorySelect)">
                    <mat-option *ngFor="let category of categories" [value]="category.uid">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>SubCategoria</mat-label>
                <mat-select [(ngModel)]="subCategorySelect" [disabled]="!categorySelect" (selectionChange)="selectSubCategory(subCategorySelect)">
                    <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory">
                        {{ subCategory.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-list>
                <mat-list-item *ngFor="let subCategory of categoriesCare; let i = index">
                    <p mat-line>{{ subCategory }}</p>
                    <button mat-button (click)="removeCategoryCare(i)">
                        <mat-icon  class="mat-24">delete</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="categoriesCare.length === 0">Nenhuma SubCategoria atendida</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="toolbar__form">
        <button mat-raised-button routerLink="/serviceproviders">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
</div>