<div class="container">
    <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="preencha o nome do cliente" required [(ngModel)]="model.name">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="preencha o e-mail do cliente" required [(ngModel)]="model.email" type="email">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width no-margin-right" col-50>
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="preencha o telefone do cliente" required [(ngModel)]="model.phone">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width" col-50 *ngIf="!model.uid">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="informe sua nova senha" required [(ngModel)]="model.password" type="password">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width no-margin-right" col-50 *ngIf="!model.uid">
        <mat-label>Confirmação de Senha</mat-label>
        <input matInput placeholder="digitenovamente a senha informada acima" required [(ngModel)]="model.confirmPassword" type="password">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Opções</mat-label>
        <textarea matInput placeholder="Descreva a descrição" rows="4" [(ngModel)]="model.description"></textarea>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Endereço</mat-label>
        <input matInput placeholder="preencha o seu endereço" [(ngModel)]="model.address">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="preencha o seu endereço" [(ngModel)]="model.addressComplement">
    </mat-form-field>
    
    <div class="toolbar__form">
        <button mat-raised-button routerLink="/serviceproviders">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
</div>